{% extends "layout.html" %}

{% block title %}php-site-template{% endblock %}

{% block content %}
<div class="row">
    <div class="span9">
        <div class="tabbable">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#about" data-toggle="tab">About</a></li>
            </ul>
            <div class="tab-content">
                <!-- About -->
                <div class="tab-pane active" id="about">
                    <p>php-site-template allows you to start out with a scaffolding to build a php application on top of.  The template uses very minimal router and templating engines to process requests in an easy to understand manner.</p>
                    <p>Start out using php-site-template now by checking out the latest version of the code <a href="https://github.com/patrickmccoy/php-site-template">on GitHub here.</a>
                </div>
                
            </div>
        </div>
    </div>
</div>
{% endblock %}